@import url("../css/why.css");
@import url("../css/sdn.css");
@import url("../css/price.css");
@import url("../css/customer.css");
@import url("../css/axure.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: "Open-sans", 'Raleway' sans-serif;
    font-size: 14px;
}
.container {
    max-width: 1170px; 
    padding: 0 15px 0;
    margin: auto;

}

section {
    margin: 80px 0;
}


.title {
    font-family: "Raleway";
    font-size: 36px; 
    font-weight: 400;
    color: #212121;  
    margin: 35px;
    text-align: center;
}

.pricing { 
    background-color: #F5F5F5;
}