
.price-block {
    width: 340px;
        margin: auto 15px;
    
    
}
.price-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.price-block-item {
    margin-bottom: 2px;
    width: 340px;
    height: 45px;
    text-align: center;
    padding: 11px;
    /* margin: auto 0 0; */
    /* display: table-cell;
    vertical-align: middle; */

}
.price-item-option {
    background-color: #333333;
    width: 340px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 2px;
    text-align: center;

    color: #FFFFFF;

}
.price-item-price {
    background-color: #333333;
    width: 340px;
    flex-grow: 1;
    padding: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100px;
    
    margin-bottom: 2px;
    text-align: center;

    color: #FFFFFF;

}
.price-item-value {
    background-color: #333333;
    width: 340px;
    margin-bottom: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;
    text-align: center;

    color: rgba(255, 255, 255, 0.5);

}

.price-item-text {
    font-family: 'Open Sans';
    font-style: normal;
    width: 340px;
    background-color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 4px;    
    text-align: center;

    color: #86878B;
}