
.price-block {
    width: 340px;
    height: 456px;
    /* border: 1px solid rgb(70, 68, 68); */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 62px;
}
.price-wrap {
    display: flex;
    justify-content: space-between;
}
.price-block-item {
    margin-bottom: 2px;
    width: 340px;
    height: 45px;
    text-align: center;
    padding: 11px;
    /* margin: auto 0 0; */
    /* display: table-cell;
    vertical-align: middle; */

}
.item-price-1 {
    background-color: #333333;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;

}
.item-price-2 {
    background-color: #333333;
    flex-grow: 1;
    padding: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    /* line-height: 41px; */
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}
.item-price-3 {
    background-color: #333333;
    /* position: absolute;
    width: 78px;
    height: 19px;
    left: 248px;
    top: 443px; */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: rgba(255, 255, 255, 0.5);

}
.item-price-4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 2px;
    /* identical to box height */

    text-align: center;

    color: #86878B;
}