.footer {
  background: url("../img/Vector.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center bottom;
  display: block;
  height: 260px;
  
}

.footer-text {
  color: #fff;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-top: -50px;
  padding-top: 200px;
}