.portfolio-title::after {
  content: "portfolio";
  font-weight: 700;
}
.card-portfolio-title {
  font-size: 25px;
  font-weight: 500;
  color: coral;
  margin-bottom: 10px;
}
.card-portfolio-title__commerce {
  font-size: 25px;
  font-weight: 500;
  color: cornflowerblue;
  margin-bottom: 20px;
  margin-top: 10px;
}
.card-portfolio-title__commerce::before {
  content: "E-";
  display: inline-block;
  margin-right: 15px;
}
.card-portfolio-title__skills {
  font-size: 25px;
  font-weight: 500;
  color: rgb(30, 31, 31);
  margin-bottom: 20px;
  margin-top: 10px;
}
.card-portfolio-title::before {
  content: "";
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url("../img/icons/sendpay.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 15px;
  vertical-align: middle;
}
.card-portfolio-img {
  width: 289px;
  height: 164px;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card-portfolio-img img {
  width: 100%;
}

.portfolio-card__sendpay::before {
  content: "";
  width: 195px;
  height: 195px;
  background-color: rgba(255, 127, 80, 0.3);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.portfolio-card__commerce::before {
  content: "";
  width: 195px;
  height: 195px;
  background-color: rgba(106, 115, 236, 0.3);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.portfolio-card__skills::before {
  content: "";
  width: 195px;
  height: 195px;
  background-color: rgba(83, 82, 81, 0.3);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
